:root {
    --main-bg-colour: #1f2937;
    --main-font: "Roboto";
    --main-hero-text-colour: #f9faf8;
    --main-hero-text-size: 48px;
    --main-hero-text-weight: 900;
    --secondary-hero-text-size: 18px;
    --secondary-hero-text-colour: #e5e7eb;
    --main-logo-text-size: 24px;
    --main-logo-text-colour: #f9faf8;
    --button-bg-colour: #3882f6;
    --information-header-text-size: 36px;
    --information-header-text-colour: #1f2937;
    --information-header-text-weight: 900;
    --quote-bg-colour: #e5e7eb;
    --quote-text-size: 36px;
    --quote-text-colour: #1f2937;
    --quote-text-font-style: italic;

}

.content {
    margin: 0 150px;
    flex: auto;
    padding: 10px;
}

body,
body * {
    display: flex;
}

body {
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--main-bg-colour);
}

.header .content {
    align-items: baseline;
    gap: 15px;
}

.header h2 {
    color: var(--main-logo-text-colour);
    font-size: var(--main-logo-text-size);
    margin-right: auto;
}

.header a {
    color: var(--secondary-hero-text-colour);
    font-size: var(--secondary-hero-text-size);
    text-decoration: none;
}

.jumbotron {
    background-color: var(--main-bg-colour);
}

.jumbotron .content {
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;

}

.jumbotron .content h1 {
    font-size: var(--main-hero-text-size);
    font-weight: var(--main-hero-text-weight);
    color: var(--main-hero-text-colour);
}

.jumbotron .content p {
    font-size: var(--secondary-hero-text-size);
    color: var(--secondary-hero-text-colour);
}

.jumbotron .content button {
    background-color: var(--button-bg-colour);
    width: 100px;
    color: var(--main-hero-text-colour);
    border-radius: 8px;
}

.jumbotron .content img {
    margin-left: auto;
}

.gallery-item ,
.gallery-container .content {
    flex-direction: column;
    align-items: center;
}

.gallery-item,
.gallery {
    gap: 10px
}

.gallery-item {
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    border-radius: 8px;
    outline: solid var(--button-bg-colour) 2px;
}

quote

.quote .content {

}